<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">Team Member</h6>
            <h1 class="mb-4">{{ team.subtitle }}</h1>
        </div>
        <div class="row g-4">
            <!-- person card start -->
            {% for person in team.members %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid w-75" src="{{ person.img_link }}" alt="">
                        <div class="team-social w-25">
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg-square btn-outline-primary rounded-circle mt-3"
                                href="{{ person.insta }}"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <h5>{{ person.name }}</h5>
                        <span>{{ person.designation }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- person card end  -->
            {% if team.main == True %}
            <a class="small fw-medium" href="{{ url_for('team') }}">Team Members<i
                    class="fa fa-arrow-right ms-2"></i></a>
            {% endif %}
        </div>
    </div>
</div>